.table-customer{
    width: 100%;
    padding-inline: 40px;
    margin-top: 7rem;
}
.table-container-customer {
  border-collapse: collapse;
}
.table-customer-container{
    flex-wrap: wrap;
    padding: 5px;
    gap: 1rem;
    border-collapse: collapse;

}
.table-head-customer th {
  background-color: #ccc;
  font-weight: bold;
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

.table-body tr {
  border: 1px solid #000;
}

.table-head-customer{
  display: flex;
  border-bottom: 1px solid gray;
  padding: 5px;
  color: gray;
}
.table-image-sub-customer{
  display: flex;
}
.table-data-sub-customer{
  display: flex;
  justify-content: space-around;
  flex-basis: 30%;
  gap: 23px;
}
.table-dataone-customer{
    flex-basis: 25%;
    margin-top: 0.9rem;
    font-size: 12px;
}
.table-discription-customer{
  display: flex;
  gap: 14rem;
}
.input-cont-customer{
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
.input-customer{
  padding: 5px;
    border: none;
    background-color: #F5F6F8;
}
@media (max-width: 500px) {
  .table-discription-customer{
    display: flex;
    gap: 1rem;
}
.input-customer{
  /* padding: 5px; */
    border: none;
    background-color: #F5F6F8;
}
.input-cont-customer{
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
}